/*Importando o link de fonts*/
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap";
:root{
    --color-green: #50fa7b;
    --color-orange: rgb(253, 228, 8);
    --color-roxo: rgb(68, 0, 255);
}
*{
    margin:0;
    padding: 0;
    border: 0;
}
body{
    background-color: #282a26;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
 
}
header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1);

}
header div{
    text-align: center;
}
.links{
    text-align: center;
}
.links a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
  
    

}
.links a:hover{
    color:  var( --color-orange);
    transition: color 200ms;
}
.wrapper{
    text-align: center;
    padding:30px;
}

/*===== CARDS ======*/

.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
  
}

.card{
    background-color: var(--color-roxo);
    display: grid;
    cursor: pointer;

}

.card_image-container img{
    width:100%;

}

.card_content,
.card_info{
    padding:24px;
}
/*infomrações do grid*/
.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.card_price{
  background-color: var(--color-roxo);
  /*colocar fitros*/
  filter: brightness(70%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/*====== MODAL =========*/
.modal-overlay{
    background-color: rgba(0,0,0,0.7); /*trasparencia do modal*/
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    opacity: 0;
    visibility: hidden;

}

.modal{
    background-color: white;
    width:90%;
    height: 90%;
    margin:5vh auto;
    /*colocando clase-modal dentro da caixa*/
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}


/*====== MODAL.ACTIVE =========*/


.modal-overlay.active{
    opacity: 1;
    visibility: visible;

}

iframe{
    width:100%;
    height: 90%;
    position: absolute;
    top:5%;
}

/* === FEATURED ===*/

.featured-wrapper.card_image-container{
    position: relative;
}
.featured{
    position: absolute;
    background: #e7bf47;
    font-weight: bold;
    color:rgb(17, 0, 255);
    padding: 2px 8px;
    right: 5px;
    border-radius: 16px;
    top: -10px;

}

/*== VIDEO PAGE ==*/

.video{
    margin:0 auto;   
    max-width: 800px;
}

.card_video-container{
    position: relative;

    padding-top: 62.5%;
}
.card_video-container iframe{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
}
